<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.symboltech.wangpos"
    android:versionCode="1701241451"
    android:versionName="1.0.2" >

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <uses-permission android:name="cn.koolcloud.pos.SERVICE" />
    <uses-permission android:name="com.wangpos.cashiercoreapp.coreapi" />

    <application
        android:name=".app.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/pos_icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >
        <activity android:name=".activity.SplashActivity"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.MainActivity"
            android:launchMode="singleTask" >
        </activity>
        <activity android:name=".activity.LoginActivity" />
        <activity android:name=".activity.MemberAccessActivity" />
        <activity android:name=".activity.PaymentActivity" />
        <activity android:name="com.symboltech.zxing.app.CaptureActivity" />
        <activity android:name=".activity.CheckOutActivity" />
        <activity android:name=".activity.MemberEquityActivity" />
        <activity android:name=".activity.PaymentDetailActivity"/>
        <activity android:name=".activity.ReturnGoodsByNormalActivity"/>
        <activity android:name=".activity.ReturnMoneyByNormalActivity" />
        <activity android:name=".activity.ReturnGoodSucceedActivity" />
        <activity android:name=".activity.MemberDetailActivity" />
        <activity android:name=".activity.ReturnGoodsByOrderActivity" />
        <activity android:name=".activity.ReturnMoneyByOrderActivity"/>
        <activity android:name=".activity.WorkLogActivity"/>
        <activity android:name=".activity.DemandNoteActivity"/>
        <activity android:name=".activity.MemberActivateActivity"/>
        <activity android:name=".activity.SendPackCouponActivity"/>
        <activity android:name=".dialog.ThirdPayDialog"
                android:theme="@style/dialog_login_bg"/>
        <activity android:name=".dialog.CanclePayDialog"
            android:theme="@style/dialog_login_bg"/>
        <activity android:name=".dialog.ThirdPayReturnDialog"
            android:theme="@style/dialog_login_bg"/>
        <activity android:name=".dialog.ThirdPayControllerDialog"
            android:theme="@style/dialog_login_bg"/>
        <service android:name=".service.RunTimeService" />

        <meta-data
            android:name="pos_update_time"
            android:value="2017年1月24日 " >
        </meta-data>
    </application>

</manifest>
